<!DOCTYPE html>
<html ng-app="pointkeeper">
  <head>
    <meta charset="utf-8">
    <title>Point Keeper</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- ionic css -->
    <link href="css/ionic.css" rel="stylesheet">

    <!-- pointkeeper css -->
    <link href="css/app.css" rel="stylesheet">

    <!-- ionic/angularjs scripts -->
    <script src="js/ionic.js"></script>
    <script src="js/angular/angular.js"></script>
    <script src="js/angular/angular-animate.js"></script>
    <script src="js/angular/angular-route.js"></script>
    <script src="js/angular/angular-touch.js"></script>
    <script src="js/angular/angular-sanitize.js"></script>
    <script src="js/ionic-angular.js"></script>

    <!-- cordova script -->
    <script src="cordova.js"></script>

    <!-- point keeper angular app -->
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
  </head>

  <body ng-controller="AppCtrl">

    <div class="bar bar-header bar-assertive">
      <button class="button button-clear" ng-click="resetGame()" ng-show="players.length">Reset</button>
      <h1 class="title">Point Keeper</h1>
      <button class="button button-clear" ng-click="newGame()" ng-show="players.length">New</button>
    </div>

    <div class="scroll-content has-header">

      <div class="game-teaser" ng-show="!players.length">
        <h5> Add players to get started!</h5>
        <i class="icon ion-ios7-people"></i>
      </div>

      <div class="list">

        <div class="item item-divider" ng-show="players.length">
          Game Players
        </div>

        <div class="item item-button-right player" ng-repeat="player in players">

            <!-- Shown when player is not configured -->
            <input ng-show="!player.configured" type="text" ng-model="player.name" placeholder="Player's name" class="player-input" />
            <button ng-show="!player.configured" class="button button-balanced button-clear play" ng-click="configurePlayer(player)">
              Play
            </button>

            <!-- Shown when not a new player -->
            <span ng-hide="!player.configured" ng-click="clickedPlayer(player)">{{player.name}}</span>
            <span ng-hide="!player.configured" class="badge badge-stable">{{player.score}}</span>

            <button ng-hide="!player.configured" class="button button-assertive button-clear item-button-pad" style="right: 58px;" ng-click="changeScore(player, 'minus')">
              <i class="icon ion-minus"></i>
            </button>
            <button ng-hide="!player.configured" class="button button-assertive button-clear item-button-pad" ng-click="changeScore(player, 'plus')">
              <i class="icon ion-plus"></i>
            </button>

        </div>

        <button class="button button-full" ng-click="addNewPlayerBlock()" ng-class="{'button-clear': players.length, 'button-light': !players.length}">
          <i class="icon ion-ios7-plus-empty" ng-show="players.length"></i>
          Add a player
        </button>

      </div>
    </div>

    <script id="modify-score.html" type="text/ng-template">
      <div class="modal">
        <header class="bar bar-header bar-stable">
          <h1 class="title">{{modifyScoreTitle}}</h1>
          <button class="button button-clear button-assertive" ng-click="closeModifyScoreModal()">Cancel</button>
        </header>
        <content has-header="true">
          <div class="list">
            <label class="item item-input">
              <span class="input-label">Amount</span>
              <input type="number" ng-model="modify.score" pattern="\d*" placeholder="How much?">
            </label>
            <button class="button button-full button-assertive" ng-click="modifyScore()" ng-class="{disabled: !modify.score}">{{modifyText}}</button>
          </div>
        </content>
      </div>
    </script>

    <script>
      document.addEventListener('deviceready', function() {
        ionic.Platform.detect();
      });
    </script>
    
  </body>
</html>
